$blue: #1F214A;
$light-blue-alpha: #3E91A675;
$hover-blue: #3d5e8291;
$blue-light: #3E91A6;
$blue-alpha: rgba(0, 123, 255, 0.25);
$blue-hover-alpha: rgba(10, 28, 68, 0.8);
$blue-border: #80bdff;
$blue-dark: #1d64af;
$blue-flat: #3686dd;
$x_dark_blue: #00346b;
$hover: #17a2b8;
$hover_bg: #00a2ff71;
$gray: #6c757d;
$gray-border: #ced4da;
$gray-light: #e5e5e5;

$white-alpha: #ffffffbb;

$fb-color: #3b5998;
$twitter-color: #38A1F3;
$youtube-color: #c4302b;

$title-black-color: #2d2e2e;

$border-color: rgba(0, 0, 0, 0.1);



.yellow-bg {
    background-color: rgb(247, 243, 46) !important;
}

.black {
    color: black !important;
}


.gray {
    color: gray;
}

.bg-gray{
    background: #F5F7FA;
    fill: #F5F7FA;
}