.carousel{

    &-caption{
        color: $white;
        text-align: start;
        z-index: 1;
        left: 10%;
        right: 10%;

        h5{
            z-index: inherit;
            font-size: 50px;
            font-weight: 700;
            font-family: $font-merriweather;
        }

        p{
            z-index: inherit;
            font-size: 18px;
        }

    }

    &-indicators{
        position: absolute;
        bottom: 25px;
        margin: 0;
        left: 10%;
        right: 0;
        // width: 100%;
        justify-content: flex-start;

        li, li.active{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 0;
            background: transparent;
        }
        li{
            // background: rgba(255,255,255,0.39);
            margin-left: .5rem;
            margin-right: .5rem;
            line-height: 14px;
            border: 2px solid #fff;
            transition: 0.35s all ease;
        }
        li.active{
            background: $white;
        }
    }

    &-item{
        &::after{
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            content: '';
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.55) 50%);
        }
    }

}

.form-control {
    border-radius: 2px;
    border: none;

    &:focus{
        // background-color: rgba(209, 253, 192, 0.2);
    }
}


.main-title {
    // padding: 10px;
    text-align: center;

     h3 {
         padding: 5px;
         font-weight: bold;
         color: #fff;
         text-transform: uppercase;
         letter-spacing: 2px;
         background-color: $blue-light;
     }
}


nav {
    ol.breadcrumb {
        margin-top: 20px;
        // border: 1px solid ;
        border-radius: 2px;
        padding: 5px;
        padding-left: 15px;

        .breadcrumb-item {
            
            +::before {
                content: "> ";
            }

            a {
                color: $x_dark_blue;
                text-decoration: none;

                &:hover, &:focus {
                    color: $hover
                }
            }
        }
        
    }
}


.section{

    &-title{
        font-size: 44px;
        font-weight: 700;
        font-family: $font-merriweather;
        color: $title-black-color;
    }
}



.post{
    background-color: $white;
    margin-bottom: 30px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.57143;
    color: #888888;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);


    &-img{
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid rgba(11, 61, 145, 0.22);

        &:before{
            content: "";
            display: block;
            // padding-top: 100%; 	/* initial ratio of 1:1*/
            // padding-top: 50%; 	/* initial ratio of 2:1*/
            padding-top: 56.25%; 	/* initial ratio of 16:9*/
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }


    .post-body{
        padding: 30px;

        a{
            color: $blue-light;

            &:hover{
                text-decoration: none;
                color: $blue;
            }
        }

        h6{
            font-weight: 700;
            font-size: 18px;
            font-family: $font-merriweather;
        }

        .meta-text{
            color: #2d2e2e;
            font-style: italic;
            i{
                margin-right: 5px;
            }

        }
    }

    

}

.event{
    width: 80%;
    background-color: $white;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    display: flex;
    flex-direction: column;
    
    .btn{
        margin: 10px auto;
        width: 100%;
    }
    
    &-img{
        position: relative;
        width: 100%;
        overflow: hidden;
        flex-grow: 1;

        &:before{
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
            // padding-top: 50%; 	/* initial ratio of 2:1*/
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &:hover &-overlay{
        opacity: 1;
        visibility: visible;
        transition: 0.35s all ease;
        *{
            -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
        }
    }

    &-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        visibility: hidden;
        opacity: 0;
        background: rgba(10, 28, 68, 0.8);
        
        *{
            -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
        }
    }

    &-body{
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        .meta-text{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            flex: 0 0 auto;
            background: $blue;
            color: $white;
            padding: 5px 9px;
            justify-content: space-evenly;

            h3{
                margin: 0;
                font-weight: 700;
                font-size: 30px;
                line-height: 1.2;
            }

            p{
                margin: 0;
            }

            span{
                font-weight: 700;
            }
            
        }

        .main-text{
            display: flex;
            flex-grow: 3;
            flex-direction: column;
            padding: 20px 20px 0 20px;

            i{
                margin-right: 5px;
            }

            a{
                color: $blue-light;
                font-family: $font-merriweather;

                &:hover{
                    text-decoration: none;
                    color: $blue;
                }
            }

            h6{
                font-weight: 700;   
                font-size: 18px;
            }

            ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style-type: none;

                li{
                    float: left;
                }
            }
        }
    }

    
}


.btn-link {
    color: $blue;
    
    &:hover, &:focus {
        text-decoration: none;
        color: $hover;
    }
}

.form-control {
    

    &-range {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        background: #d3d3d3;
        outline: none;
        border-radius: 5px; 
        opacity: 0.7;

        &:hover, &:focus {
            opacity: 1;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: $blue-light;
            border-radius: 50%; 
            cursor: pointer;
        }
        
        &::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: $blue-light;
            border-radius: 50%; 
            cursor: pointer;
        }
    }
}

.nav-pills {
    a {
        &.nav-link {
            color: $blue-light;

            &:not(.active){
                &:hover {
                    color: $hover;
                }
            }

            &.active {
                background-color: $blue-light;
            }
        }
    }
}

.pagination {

    .page-item {

        &:not(.active) {
            .page-link {
                color: $blue;
            }
        }

        &.active {
            a{
                background-color: $blue;
            }
        }

        &.disabled {
            a {
                color: $gray !important;
            }
        }
    }
}


.icheck-primary {

    >input:first-child{

        &:checked {
            &+input[type=hidden]+label::before,
            &+label::before {
                background-color: $blue-light;
                border-color: $blue-light;
            } 

        }
        
        &:not(:checked):not(:disabled):hover{
            &+input[type=hidden]+label::before, 
            &+label::before {
                border-color: $blue-light;
            }
        }
    }
}

