.carousel{

    &-caption{
        color: $white;
        text-align: start;
        z-index: 1;
        left: 10%;
        right: 10%;

        h5{
            z-index: inherit;
            font-size: 50px;
            font-weight: 700;
            font-family: $font-merriweather;
        }

        p{
            z-index: inherit;
            font-size: 18px;
        }

    }

    &-indicators{
        position: absolute;
        bottom: 25px;
        margin: 0;
        left: 10%;
        right: 0;
        // width: 100%;
        justify-content: flex-start;

        li, li.active{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            border: 0;
            background: transparent;
        }
        li{
            // background: rgba(255,255,255,0.39);
            margin-left: .5rem;
            margin-right: .5rem;
            line-height: 14px;
            border: 2px solid #fff;
            transition: 0.35s all ease;
        }
        li.active{
            background: $white;
        }
    }

    &-item{
        &::after{
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
            content: '';
            background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.55) 50%);
        }
    }

}

.carousel-control-prev, .carousel-control-next{
    width: 10%;
}



i{
    margin-right: 5px;
}

a{
    color: $blue-light;


    &:hover{
        color: $blue;
        text-decoration: none;
    }
}

.main-title {
    // padding: 10px;
    text-align: center;

     h3 {
         padding: 5px;
         font-weight: bold;
         color: #fff;
         text-transform: uppercase;
         letter-spacing: 2px;
         background-color: $blue-light;
     }
}


nav {
    .breadcrumb {
        background: none;
        padding: 10px 15px;
        font-size: 11pt;
        border-radius: 0;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        margin-top: 0.5rem;
        margin-bottom: 0;

        .breadcrumb-item {
            
            a {
                color: inherit;
                
                &:hover, &:focus {
                    text-decoration: none;
                    color: $hover
                }
            }

            &.active{
                color: $gray;
            }

            + .breadcrumb-item{
                padding-left: 0.5rem;

            }

            +::before {
                color: $blue;
                content: '\F054';
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 7pt;
                top: -1px;
                position: relative;
            }

        }


        
    }
}


.section{

    &-title{
        font-size: 44px;
        font-weight: 700;
        font-family: $font-merriweather;
        color: $title-black-color;
    }
}



.post{
    background-color: $white;
    margin-bottom: 30px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.57143;
    color: #888888;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);


    &-img{
        position: relative;
        width: 100%;
        display: block;
        border-bottom: 1px solid rgba(11, 61, 145, 0.22);

        &:before{
            content: "";
            display: block;
            // padding-top: 100%; 	/* initial ratio of 1:1*/
            // padding-top: 50%; 	/* initial ratio of 2:1*/
            padding-top: 56.25%; 	/* initial ratio of 16:9*/
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }


    .post-body{
        padding: 30px;

        a{
            color: $blue-light;

            &:hover{
                text-decoration: none;
                color: $blue;
            }
        }

        h6{
            font-weight: 700;
            font-size: 18px;
            font-family: $font-merriweather;
        }

        .meta-text{
            color: #2d2e2e;
            font-style: italic;
            i{
                margin-right: 5px;
            }

        }
    }


    &-full{

        .logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .logo-img{
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-content: center;

                img{
                    width: 150px;
                    height: 150px;
                }
                margin-bottom: 3px;
            }

            .logo-text{
                color: $blue;
                font-size: 4.5rem;
                text-align: center;
                margin-top: 15px;
            }
        }

        

        .content-body{
            text-align: justify;
        }

        .post-body{
            img {
                width: 100% !important;
                height: auto !important;
            }
            figcaption {
                align-items: center;
                justify-content: center;
                display: flex;
                color: gray;
                font-size: 90%;
            }
        }

    }
    

}


.content{
    .share {
        list-style-type: none;
        padding: 0;
        &-link {
            margin-bottom: 5px;
        }
        &-link-in {
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            padding: 10px;
            border: 1px solid #eee;
            border-radius: 50%;
            margin-right: 10px;
            font-size: 16pt;
            color: #fff;
            transition: 0.2s all ease-in-out;
    
            i{
                padding: 0 !important;
                margin: 0 !important;
            }
            &:hover {
                text-decoration: none;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
            }
        }
        .fb {
            background-color: #3b5998;
            // border-color: #3b5998;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #3b5998;
            }
        }
        .ok {
            background-color: #ed812b;
            // border-color: #ed812b;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #ed812b;
            }
        }
        .vk {
            background-color: #45668e;
            // border-color: #45668e;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #45668e;
            }
        }
        .tw {
            background-color: #1da1f2;
            // border-color: #1da1f2;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #1da1f2;
            }
        }
        .wt {
            background-color: #25d366;
            // border-color: #25d366;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #25d366;
            }
        }
        .tm {
            background-color: #0088cc;
            // border-color: #0088cc;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
                color: #0088cc;
            }
        }
    }

    .meta-text{
        display: flex;
        padding: 0 10px;
        color: $gray;
        font-style: italic;
        font-size: 15px;
    
        span{
            margin-right: 10px;
    
            i{
                margin-right: 5px;
            }
        }
    }

    h3:first-child{
        margin-top: 0 !important;
    }

    .content-body{
        h3{
            margin-top: 2rem;
            font-size: 25px;
            text-align: left;
            position: relative;
            font-weight: 700;
            font-family: $font-merriweather;
            color: $title-black-color;
            padding-bottom: 10px;
            margin-bottom: 15px;

            &::before{
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 0;
                background: #e5e5e5;
                border: none;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 50px;
                background: #0087ab;
            }

            &.no-underline{
                padding-bottom: unset;
                margin-bottom: unset;
                &::before{
                    display: none;
                }
                &::after{
                    display: none;
                }
            }
        }

        h4{
            font-size: 18px;
            text-align: left;
            font-weight: 700;
            font-family: $font-merriweather;
            color: $title-black-color;
        }

        // hr{
        //     position: relative;
        //     height: 1px;
        //     padding: 0;
        //     background: #e5e5e5;
        //     border: none;

        //     &::after{
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         height: 1px;
        //         width: 50px;
        //         background: #0087ab;
        //     }
        // }
    }

    .tags{
        a{
            margin-right: 10px;
            color: $blue-light;

            &:hover{
                text-decoration: none;
                color: $blue;
            }
        }
    }
}

.event{
    // width: 80%;
    background-color: $white;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    box-shadow: 0px 0px 25px 0px rgba(11, 61, 145, 0.22);
    display: flex;
    flex-direction: column;
    
    .btn{
        margin: 10px auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    &-img{
        position: relative;
        width: 100%;
        overflow: hidden;
        // flex-grow: 1;

        &:before{
            content: "";
            display: block;
            // padding-top: 100%; 	/* initial ratio of 1:1*/
            // padding-top: 50%; 	/* initial ratio of 2:1*/
            padding-top: 56.25%; 	/* initial ratio of 16:9*/

        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &:hover &-overlay{
        opacity: 1;
        visibility: visible;
        transition: 0.35s all ease;
        *{
            -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
        }
    }

    &-overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        visibility: hidden;
        opacity: 0;
        background: $blue-hover-alpha;
        
        *{
            -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
        }
    }

    &-body{

        flex-grow: 1;
        display: flex;
        flex-direction: row;

        .meta-text{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            flex: 0 0 auto;
            background: $blue;
            color: $white;
            padding: 5px 9px;
            justify-content: space-evenly;

            h3{
                margin: 0;
                font-weight: 700;
                font-size: 30px;
                line-height: 1.2;
            }

            p{
                margin: 0;
            }

            span{
                font-weight: 700;
            }
            
        }

        .main-text{
            display: flex;
            flex-grow: 3;
            flex-direction: column;
            padding: 20px 20px 0 20px;

            i{
                margin-right: 5px;
            }

            a{
                color: $blue-light;
                font-family: $font-merriweather;

                &:hover{
                    text-decoration: none;
                    color: $blue;
                }
            }

            h6{
                font-weight: 700;   
                font-size: 18px;
            }

            ul{
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style-type: none;

                li{
                    float: left;
                }
            }
        }
    }

    &-full{
        color: $gray;
        font-size: 14px;

        .content-body{
            display: block;
        }
        p{
            span.meta{
                color: $title-black-color;
                font-weight: 600;
            }
        }

        

        .author{
            h3{
                color: $blue-light;
            }
            span{
                color: $title-black-color;
                font-size: 14px;
                display: block;
                margin-bottom: 5px;
            }
            a{
                color: $blue;

                &:hover,&:focus{
                    color: $blue-light;
                }
            }

            img{
                border-radius: 5px;
            }
        }
    }

    
}


.btn-link {
    color: $blue;
    
    &:hover, &:focus {
        text-decoration: none;
        color: $hover;
    }
}


.nav-pills {
    a {
        &.nav-link {
            color: $blue-light;

            &:not(.active){
                &:hover {
                    color: $hover;
                }
            }

            &.active {
                background-color: $blue-light;
            }
        }
    }
}

.pagination {

    .page-item {

        &:not(.active) {
            .page-link {
                color: $blue;
            }
        }

        .page-link{
            border: none;

            &:hover, &:focus{
                box-shadow: none !important;
            }
        }

        &.active {
            .page-link{
                background-color: $blue;
            }
        }

        &.disabled {
            .page-link {
                color: $gray !important;
            }
        }
    }
}

.error-template{
    h1{
        color: $red;
        font-size: 80px;
        font-weight: 700;
    }
}


