.footer {
    // margin-top: 10px;
    padding: 40px 0 0 0 ;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.18);
    background-color: $white;
    // border-top: 1px solid $blue;

    color: $blue;

    a{
        color: $blue;
        &:hover{
            color: $blue-light;
        }
    }

    &-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.22222;
        margin-bottom: 11px;
        
    }

    &-divider{
        position: relative;
        height: 1px;
        padding: 0;
        background: #e5e5e5;
        border: none;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 50px;
            background: #0087ab;
        }
    }

    &-body{
        margin-top: 15px;


        .logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .logo-img{
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-content: center;

                img{
                    width: 70px;
                    height: 70px;
                }
                margin-bottom: 3px;
            }

            .logo-text{
                color: $blue;
                font-size: 2.5rem;
                text-align: center;
                margin-top: 15px;
            }
        }

        ul{
            list-style: none;
            padding: 0;
    
            li {
                font-size: 15px;
                margin-top: 15px;
            }
        }

    }

}

.bottom-panel{
    background-color: $blue;
    padding: 10px 30px;

    p{
        color: $white;
        margin: 0;
    }
}