.gallery{
    .img-cont{
        position: relative;
        width: 100%;
        overflow: hidden;

        &:before{
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
            // padding-top: 50%; 	/* initial ratio of 2:1*/
        }

        img{
            width: 90%;
            height: 90%;
            margin: 10px 5%;
            object-fit: cover;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

        }

        .overlay{
            width: 90%;
            height: 90%;
            margin: 10px 5%;
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                opacity: 0;
                font-size: 30px;
            }
            
            &:hover{
                i{
                    opacity: 1;
                    color: $white;
                }
                background: $blue-hover-alpha;
            }
        }
    }
}