


/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 992px) {

    .header{
        padding: 10px;


        &.sps {
            top: 0;
            position: fixed;
    
            .main-header{
    
                .logo {
                    img {
                        height: 40px;
                    }
                }
            }
            
        }
    }
    

    .top-bar-menu{
        height: 70px;
        * {
            display: none;
        }
    }

    #main-nav{
        overflow: scroll;
        position: fixed;

        .nav{
            width: 100%;

            .nav-item{

            }

            .mega-dropdown{

                &-menu{
                    position: unset;
                    background-color: $white !important;
                    border-radius: 0;
                    border-top-width: 0;
                    width: 100%;


                    .dropdown-header{
                        color: $blue !important;
                    }
        
                    a{
                        color: $blue !important;
                    }
        
                    .container{
                        .row{
                            margin: 0;
        
                            &>*{
                                padding: 0;
                            }
                        }

                        padding: 3px 10px;

                        ul{
                            list-style-type: none;
                            padding: 0;
    
                            li{
                                margin: 5px 0;

                                ul {
                                    padding-left: 5px;
                                }
                                a{
                                    font-size: 0.9rem;
                                    color: $white-alpha;

                                    &::before{
                                        content: '\203A';
                                        margin-right: 3px;
                                    }

                                    &:hover, &:active{
                                        color: $white;
                                    }
                                }
        
                                &.dropdown-header{
                                    padding: 0;
                                    font-size: 0.85rem;
                                    color: $white;
                                    font-weight: bold;
                                    margin: 3px 0;
                                }
                            }
                        }
                    }
                }
            }

            .contacts-item{
                ul{
                    padding: 5px 15px;
                    list-style-type: none;
                    
                    li{
                        margin: 7px 0;
                        

                        a{
                            color: $blue;
                            i{
                                margin-right: 5px;
                            }

                        }
                    }
                }
            }

            .social-item{
                display: flex;
                        
                ul{
                    list-style-type: none;
                    display: flex;
                    flex-grow: 1;

                    li{
                        display: flex;
                        flex-grow: 1;
                        float: left;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }

    .carousel{

        &-indicators{
            justify-content: center;
            left: unset;
            width: 100%;
    
            li, li.active{
                width: 0.5rem;
                height: 0.5rem;
            }
            li{
                border: 1px solid #fff;
            }
        }

        &-inner{
            // height: 800px;

            .carousel-caption{
                h5{
                    font-size: 40px;
                }
            }
    
            img{
                object-fit: cover;
                object-position: 100% 0;
            }
        }
    }

    .event{
        width: 100%;

        .btn{
            width: 100%;
            margin: 10px auto !important;
        }

        &-img{


            .event-overlay{
                padding: 10%;
            }
        }

        &-body{

            .meta-text{

                * {
                    flex-grow: 1;
                }

            }

            .main-text{
                padding: 10px 0 0 10px;

                ul{
                    margin-bottom: 10px;
                }
            }
        }
    }

    .section{
        .map{
            height: 500px !important;
            overflow: hidden;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

    #main-nav{
        overflow: scroll;

        .nav{
            .mega-dropdown{

                &-menu{
                    position: unset;
                    background-color: $white !important;
                    border-radius: 0;
                    border-top-width: 0;
        
                    .dropdown-header{
                        color: $blue !important;
                    }
        
                    a{
                        color: $blue !important;
                    }
        
                    .container{
                        .row{
                            margin: 0;
        
                            .col-sm-6{
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .header{
        position: fixed;
        padding: 10px 0;
        box-shadow: 0px 15px 19px 1px rgba(1, 1, 1, 0.06);
        .navbar{
            &-brand{
                margin-right: 0;
                margin-left: 0;

                img{
                    height: 40px;
                    width: auto;
                }
            }

            &-toggle{
                &-icon{
                    font-size: 16pt;
                    color: $blue;
                }
            }

            &-collapse{
                margin: 1rem;
            }
        }
        .navbar-nav .nav-link{
            color: $blue;
        }

        #hamburger-menu .line{
            background: $blue !important;
        }
    }

    .navs {
        .navmiddle>li>a {
            padding: 20px 10px;
        }
    }

    .carousel{

        &-indicators{
            justify-content: center;
            left: unset;
    
            li, li.active{
                width: 0.5rem;
                height: 0.5rem;
            }
            li{
                border: 1px solid #fff;
            }
        }

        &-inner{
            // height: 800px;
    
            img{
                height: 300px;
                object-fit: cover;
                object-position: 100% 0;
            }
        }

        &-item{

            .carousel-caption{
                display: flex !important;
                justify-content: center;
                flex-direction: column;

                h5{
                    font-size: 18px;
                    text-align: center;
                    font-weight: 700;
                }

                p{
                    display: none;
                }

                .btn{
                    font-weight: 600;
                    font-size: 15px;
                    margin: 5px;
                    padding: 15px 10px;

                }

            }

            &::after{
                width: 100%;
                height: 100%;
                // background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.55) 50%);
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .footer{
        padding: 20px 0;
    }

    .section{

        &-title{
            font-size: 32px;
            text-align: center;
            
        }
    }

    .event{
        width: 100%;
        
        &-overlay{
            padding: 5%;
        }
    
        &-body{
            flex-direction: column;
    
            .meta-text{
                flex-direction: row;
                padding: 5px 9px;
                justify-content: center;
    
                h3{
                    font-weight: 700;
                    font-size: 20px;
                }
    
                p{
                    margin-left: 5px;
                }
    
                span{
                    margin-left: 5px;
                }
                
            }
    
            .main-text{
                display: flex;
                flex-grow: 3;
                flex-direction: column;
                padding: 20px 0 0 20px;
    
    
                h6{
                    
                }
    
                ul{
                    padding: 0;
                    list-style-type: none;
    
                    li{
                        float: left;
                    }
                }
            }
        }
    
        
    }
    
    .btn{
        margin: 0 0 15px 0 !important;
    }

    .section{
        .map{
            height: 300px !important;
            overflow: hidden;
        }
    }

    .content{
        .meta-text{
            flex-direction: column;
        }
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px){

    .section{
        &.sps{
            transition: $short-transition;
            &--blw{
                padding-top: 70px !important;
            }

        }
    }


    .carousel{

        &-inner{
            // height: 800px;
    
            img{
                height: 500px;
                object-fit: cover;
                object-position: 100% 0;
            }
    
            
        }
    }

    #main-nav {
        .nav-link{
          letter-spacing: unset;
        }
    }

    .section{
        .map{
            height: 500px !important;
            overflow: hidden;
        }
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

    #main-nav {
    
        .nav-link{
          letter-spacing: 1px;
        }
      }
}