// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

    #main-nav{
        overflow: scroll;
    }
    .header{
        position: fixed;
        padding: 10px 0;
        box-shadow: 0px 15px 19px 1px rgba(1, 1, 1, 0.06);
        .navbar{
            &-brand{
                margin-right: 0;
                margin-left: 0;

                img{
                    height: 40px;
                    width: auto;
                }
            }

            &-toggle{
                &-icon{
                    font-size: 16pt;
                    color: $blue;
                }
            }

            &-collapse{
                margin: 1rem;
            }
        }
        .navbar-nav .nav-link{
            color: $blue;
        }

        #hamburger-menu .line{
            background: $blue !important;
        }
    }

    .navs {
        .navmiddle>li>a {
            padding: 20px 10px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
    
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

    .top-bar-menu{
        height: 70px;
        * {
            display: none;
        }
    }

    #main-nav{
        position: fixed;

        .nav{
            width: 100%;

            .nav-item{

            }

            .mega-dropdown{

                .mega-dropdown-menu{
                    width: 100%;
                    // padding: 3px 5px;
                    background-color: $blue;
                    
                    .container{
                        padding: 3px 5px;

                        ul{
                            list-style-type: none;
                            padding: 0;
    
                            li{
                                margin: 5px 0;
                                a{
                                    font-size: 0.9rem;
                                    color: $white-alpha;

                                }
        
                                &.dropdown-header{
                                    padding: 0;
                                    font-size: 0.9rem;
                                    color: $white;
                                    font-weight: bold;
                                    margin: 3px 0;
                                }
                            }
                        }
                    }


                }
            }

            .contacts-item{
                ul{
                    padding: 5px 15px;
                    list-style-type: none;
                    
                    li{
                        margin: 7px 0;
                        

                        a{
                            color: $blue;
                            i{
                                margin-right: 5px;
                            }

                        }
                    }
                }
            }

            .social-item{
                display: flex;
                        
                ul{
                    list-style-type: none;
                    display: flex;
                    flex-grow: 1;

                    li{
                        display: flex;
                        flex-grow: 1;
                        float: left;
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px){
    
}

@media (min-width: 992px){
    nav.sps--blw{
        height: 60px;
    }
}

// Extra large devices (large desktops, 1100px and up)
@media (max-width: 1100px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
   
}