.contact{
    font-size: 16px;
    color: $blue;

    h3{
        font-size: 25px;
        text-align: left;
    }

    ul{
        li{
            margin-bottom: 10px;
        }
    }


    a{
        color: $blue-light;
        &:hover{
            color: $blue;
        }
    }

}

.social-links{
    display: block;
    height: auto;
    overflow: auto;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: auto;

        li{
            padding: 5px;
            float: left;
            margin: 0 15px 0 0;
            a{
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;

                border: none;
                // color: #888888;
                // background: #e5e5e5;

                border-radius: 50%;
                text-align: center;

                &:hover, &:focus{
                    text-decoration: none;
                    color: $white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
                }
                color: $white;

                &.fb{
                    background-color: $fb-color;

                    &:hover{
                        color: $fb-color;
                        background-color: $white;
                        // border: 1px solid $fb-color;
                    }
                }
                
                &.twitter{
                    background-color: $twitter-color;

                    &:hover{
                        color: $twitter-color;
                        background-color: $white;
                        // border: 1px solid $twitter-color;
                    }
                }
                
                &.youtube{
                    background-color: $youtube-color;

                    &:hover{
                        color: $youtube-color;
                        background-color: $white;
                        // border: 1px solid $youtube-color;
                    }
                }

            }
        }
    }
}