.overflow-hidden{
    overflow: hidden;
}

.hr-1{
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    background: none !important;
    &::after{
        display: none;
    }
}

.hr-2{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}