@import "~froala-editor/css/froala_editor.pkgd.min";
@import "~froala-editor/css/froala_style.min";

.fileinput{
    .thumbnail{
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        max-width: 100%;
        height: auto;

        &>img{
            display: block;
            width: 100% \9;
            max-width: 100%;
            height: auto;
        }
    }

    &-new{
        &.input-group .btn-file {
            border-radius: 4px !important;
        }       
        .fileinput-exists{
            display: block;
        }
    }
}